@import url('https://fonts.googleapis.com/css2? family= Maven+Pro & display=swap');

*{
    padding: 0;
    margin: 0;
}

/* ESTILOS INDEX */

ol, ul{
    padding-left: 0rem;
}

body{
    background-image: url("../img/playa.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    header{
        top: 0;
        left: 0;
        right: 0;
        background-image: linear-gradient(to bottom, rgb(247, 153, 14), #fff);
        .navbar .container-fluid{
            display: flex;
            flex-wrap: inherit;
            align-items: center;
            justify-content: space-aroundc;
        }
    }
}

h1{
    text-align: center;
    color: white;
    font-family: 'Maven Pro', sans-serif; 
}

.h1c{
    margin: 40px 40px 40px 40px;
}

figure{
    .primera{
        text-align: center;
    }
    .perfil{
        padding-top: 15px;
        padding-bottom: 15px;
        display: block;
        border-radius: 1cm;
        margin: auto;
        width: 200px;
        height: 200px;
    }    
}




.bienvenida{
    margin: 20px 0px 0px 0px;
    padding: 15px 15px 15px 15px;
    font-family: 'Maven Pro', sans-serif;
    padding: 40px;
    .parrafo{
        font-family: sans-serif;
        margin: 20px 0px 0px 0px;
        padding: 15px 15px 15px 15px;
        color: black;
        font-size: x-large;
        text-align: center;
        background-color: rgba(209, 209, 209, 0.4);
        border-radius: 1cm;
    }
}


.videos{
    font-family: 'Maven Pro', sans-serif;
    padding: 40px;
}

.videos h2{
    padding: 15px 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-align: start;
    background-color: rgba(214, 57, 57, 0.4);
    border-radius: 1cm;
}

.video1{
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 10px 10px;
}

.video2{
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 10px 10px;
}
.videos p{
    padding: 15px 15px 15px 15px;
    font-family: sans-serif;
    color: black;
    font-size: x-large;
    background-color: rgba(209, 209, 209, 0.4);
    border-radius: 1cm;
}

footer{
    padding: 10px 10px 10px 10px;
    margin-bottom: 0;
    margin-top: 5px;
    background-image: linear-gradient(to top, rgb(247, 153, 14), #fff);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer h2{
    color: rgb(70, 9, 128);
    margin-bottom: 5px;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

footer a{
    color: rgb(194, 31, 31);
    font-size: larger;
    margin-bottom: 1cm;
    }

  /* GRIDS INDEX */
    .cuerpo{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "headeri headeri headeri headeri"
        "bienvenida bienvenida bienvenida bienvenida"
        "videos videos videos videos"
        "footeri footeri footeri footeri"
        ;
        gap: 20px;
    }

     .headeri{
    grid-area: headeri;
     }

     .bienvenida{
         grid-area: bienvenida;
     }

     .videos{
         grid-area: videos;
     }

     .footeri{
         grid-area: footeri;
     }

     .videos{
         display: grid;
         grid-template-columns: auto auto;
         grid-template-rows: auto auto auto;
         justify-content: center;
         align-items: center;
         grid-template-areas: 
         "titulo titulo"
         "video1 pv1"
         "video2 pv2"
         ;
     }

     .titulo{
         grid-area: titulo;
     }

     .video1{
         grid-area: video1;
     }

     .video2{
         grid-area: video2;
     }

    .pv1{
    grid-area: pv1;
     }

    .pv2{
        grid-area: pv2;
    }

    /* GALERIA DE MEMES */

    .meme1{
        width: 320px;
        height: 220px;
        padding-top: 15px;
        display: block;
        margin: auto;
    }

    .meme2{
        width: 320px;
        height: 220px;
        padding-top: 15px;
        display: block;
        margin: auto;
    }

    .meme3{
        width: 320px;
        height: 220px;
        padding-top: 15px;
        display: block;
        margin: auto;
    }

    .meme4{
        width: 320px;
        height: 220px;
        padding-top: 15px;
        display: block;
        margin: auto;
    }

    .meme5{
        width: 320px;
        height: 220px;
        padding-top: 15px;
        display: block;
        margin: auto;
    }

    .meme6{
        width: 320px;
        height: 220px;
        padding-top: 15px;
        display: block;
        margin: auto;
    }

     /* IMAGENES DE SECCION DOBLAJE */
    .castañeda{
        width: 520px;
        height: 300px;
        padding-top: 15px;
        display: block;
        margin: auto;
        grid-area: castañeda;
    }

    .humberto{
        width: 520px;
        height: 300px;
        padding-top: 15px;
        display: block;
        margin: auto;
        grid-area: humberto;
    }

    .tatul{
        width: 520px;
        height: 300px;
        padding-top: 15px;
        display: block;
        margin: auto;
        grid-area: tatul;
    }

    .fmc{
        text-align: center;
    }

    .fhv{
        text-align: center;
    }

    .fhs{
        text-align: center;
    }

    
    /*  GRIDS PAGINA DOBLAJES */
    .grilla{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "header header header"
        "doblajes doblajes doblajes"
        "footer footer footer"
        ;
        gap: 0.2rem;
    }

    .header{
        grid-area: header;
    }
   
    .doblajes{
        grid-area: doblajes;
    }

    .footer{
        grid-area: footer;
    }

    .contenido{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "titulodbl titulodbl"
        "mario castañeda"
        "humberto homero"
        "hera tatul"
        ;
        gap: 20px;
        height: 1100px;
    }
    
    .titulodbl{
        grid-area: titulodbl;
        margin-top: 25px;
    }
    .mario{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: initial;
        grid-area: mario;
    }

    .homero{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: initial;
        grid-area: homero;
    }

    .hera{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: initial;
    }

    .pmc{
        justify-content: center;
        padding: 15px 15px 15px 15px;
        font-family: sans-serif;
        color: black;
        font-size: x-large;
        background-color: rgba(209, 209, 209, 0.4);
        margin-left: 15px;
        border-radius: 1cm;
    }

    .phv{
        justify-content: center;
        padding: 15px 15px 15px 15px;
        font-family: sans-serif;
        color: black;
        font-size: x-large;
        background-color: rgba(209, 209, 209, 0.4);
        margin-right: 15px;
        border-radius: 1cm;
    }

    .ptb{
        justify-content: center;
        padding: 15px 15px 15px 15px;
        font-family: sans-serif;
        color: black;
        font-size: x-large;
        background-color: rgba(209, 209, 209, 0.4);
        margin-left: 15px;
        border-radius: 1cm;
    }

/* GRIDS CONTACTO  */
.contactf{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "headerc"
    "contactofor"
    "footerc"
    ;
    gap: 20px;
}

.headerc{
    grid-area: headerc;
}

.contactofor{
    grid-area: contactofor;
}

.footerc{
    grid-area: footerc;
}

.pregunta article form{
    justify-content: center;
    align-items: center;
    align-content: center;
          
}

/* ESTILOS Y GRIDS MUSICA */

.musicbody{
    display: grid;
    grid-template-columns: 1fr;
    grid-area: 1fr 1fr 1fr;
    grid-template-areas: 
    "headermsc"
    "sectionmsc"
    "footermsc"
    ;
}

.sectionmsc{
    grid-area: sectionmsc;
}

.footermsc{
    grid-area: footermsc;
}

.musica{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "titulomsc titulomsc"
    "p1msc p1msc"
    "videomsc1 p1vmsc"
    "videomsc2 p2vmsc"
    ;
    gap: 20px;
}

.titulomsc{
    grid-area: titulomsc;
    margin-top: 25px;
}

.p1msc{
    grid-area: p1msc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: initial;
    font-family: sans-serif;
    margin: 20px 0px 0px 0px;
    padding: 15px 15px 15px 15px;
    color: black;
    font-size: x-large;
    text-align: center;
    background-color: rgba(209, 209, 209, 0.4);
    border-radius: 1cm;
}

.videomsc1{
    grid-area: videomsc1;
}

.p1vmsc p{
    grid-area: p1vmsc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: initial;
    padding: 15px 15px 15px 15px;
    font-family: sans-serif;
    color: black;
    font-size: x-large;
    background-color: rgba(209, 209, 209, 0.4);
    border-radius: 1cm;
}

.videomsc2{
    grid-area: videomsc2;
}

.p2vmsc p{
    grid-area: p2vmsc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: initial;
    padding: 15px 15px 15px 15px;
    font-family: sans-serif;
    color: black;
    font-size: x-large;
    background-color: rgba(209, 209, 209, 0.4);
    border-radius: 1cm;
}
    /* GRIDS MEMES */

.galeria{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "headerm "
    "titulogm"
    "memes"
    "footerm"
    ;
    gap: 20px;
}

.memes{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "titulogm titulogm"
    "meme1 meme2"
    "meme3 meme4"
    "meme5 meme6"
    ;
    height: 1100px;
    gap: 0.2rem;
}


.headerm{
    grid-area: headerm;
}

.titulogm{
    grid-area: titulogm;
    margin-top: 25px;
}

.meme1{
    grid-area: meme1;
    transition: all 2s;
}

.meme2{
    grid-area: meme2;
    transition: all 2s;
}

.meme3{
    grid-area: meme3;
    transition: all 2s;
}

.meme4{
    grid-area: meme4;
    transition: all 2s;
}

.meme5{
    grid-area: meme5;
    transition: all 2s;
}
.meme6{
    grid-area: meme6;
    transition: all 2s;
}

.footerm{
    grid-area: footerm;
}

.meme1:hover{
    transform: scale(2);
}

.meme2:hover{
    transform: scale(2);
}

.meme3:hover{
    transform: scale(2);
}

.meme4:hover{
    transform: scale(2);
}

.meme5:hover{
    transform: scale(2);
}

.meme6:hover{
    transform: scale(2);
}
    

     /* MEDIA QUERIES */

     @media screen {
         .cuerpo{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "headeri"
            "bienvenida"
            "videos"
            "footeri"
            ;
         }
         
     }


     /* MEDIA QUERIE MUSICA */

     @media screen {
        .musicbody{
            display: grid;
            grid-template-columns: 1fr;
            grid-area: 1fr 1fr 1fr;
            grid-template-areas: 
            "headermsc"
            "sectionmsc"
            "footermsc"
            ;
        }
     }

    /* MEDIA QUERIE DOBLAJE */
    @media screen {
        .grilla{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            "header"
            "doblajes"
            "footer"
            ;
         }
    }

    /* MEDIA QUERIE MEMES */
    @media screen {
        .galeria{
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas: 
            "headerm"
            "titulogm"
            "meme1 meme2"
            "meme3 meme4"
            "meme5 meme6"
            "footerm"
            ;
        }
    }
        
/* MEDIA QUERIE CONTACTO */

@media screen {
    .contactf{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "headerc"
        "contactofor"
        "footerc"
        ;
    }
}