@import "variables";
@import "generales";
@import "index";
@import url('https://fonts.googleapis.com/css2? family= Maven+Pro & display=swap');


  /* GRIDS INDEX */
    .cuerpo{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "headeri headeri headeri headeri"
        "bienvenida bienvenida bienvenida bienvenida"
        "videos videos videos videos"
        "footeri footeri footeri footeri"
        ;
        gap: 20px;
    }

     .headeri{
    grid-area: headeri;
     }

     .bienvenida{
         grid-area: bienvenida;
     }

     .videos{
         grid-area: videos;
     }

     .footeri{
         grid-area: footeri;
     }

     .videos{
         display: grid;
         grid-template-columns: auto auto;
         grid-template-rows: auto auto auto;
         justify-content: center;
         align-items: center;
         grid-template-areas: 
         "titulo titulo"
         "video1 pv1"
         "video2 pv2"
         ;
     }

     .titulo{
         grid-area: titulo;
     }

     .video1{
         grid-area: video1;
     }

     .video2{
         grid-area: video2;
     }

    .pv1{
    grid-area: pv1;
     }

    .pv2{
        grid-area: pv2;
    }

    /* GALERIA DE MEMES */

    .memesG{
        width: 320px;
        height: 220px;
        padding-top: 15px;
        display: block;
        margin: auto;
    }

    .meme1, .meme2, .meme3, .meme4, .meme5, .meme6{
       @extend.memesG;
    }

    

     /* IMAGENES DE SECCION DOBLAJE */
.fotosdbl{
    width: 520px;
        height: 300px;
        padding-top: 15px;
        display: block;
        margin: auto;
}

    .castañeda{
        @extend.fotosdbl;
        grid-area: castañeda;
    }

    .humberto{
        @extend .castañeda;
        grid-area: humberto;
    }

    .tatul{
        @extend .castañeda;
        grid-area: tatul;
    }

    .fmc{
        text-align: center;
    }

    .fhv{
        text-align: center;
    }

    .fhs{
        text-align: center;
    }

    
    /*  GRIDS PAGINA DOBLAJES */
    .grilla{
        display: grid;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "header header header"
        "doblajes doblajes doblajes"
        "footer footer footer"
        ;
        gap: 0.2rem;
    }

    .header{
        grid-area: header;
    }
   
    .doblajes{
        grid-area: doblajes;
    }

    .footer{
        grid-area: footer;
    }

    .contenido{
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "titulodbl titulodbl"
        "mario castañeda"
        "humberto homero"
        "hera tatul"
        ;
        gap: 20px;
        height: 1200px;
    }
    
    .titulodbl{
        grid-area: titulodbl;
        margin-top: 25px;
    }
    .mario{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: initial;
        grid-area: mario;
    }

    .homero{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: initial;
        grid-area: homero;
    }

    .hera{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: initial;
    }

    @mixin parraDobl ($style, $size, $border) {
        font-style: $style;
        font-size: $size;
        border-radius: $border;
    }

    .pmc{
        @include parraDobl(sans-serif, x-large, 1cm);
        justify-content: center;
        align-items: center;
        padding: 15px 15px 15px 15px;
        color: $ctext;
        background-color: $bckp;
        margin-left: 15px;
        margin-right: 15px;
    }

    .phv{
        @include parraDobl(sans-serif, x-large, 1cm);
        justify-content: center;
        align-items: center;
        padding: 15px 15px 15px 15px;
        color: $ctext;
        background-color: $bckp;
        margin-left: 15px;
        margin-right: 15px;
    }

    .ptb{
        @include parraDobl(sans-serif, x-large, 1cm);
        justify-content: center;
        align-items: center;
        padding: 15px 15px 15px 15px;
        color: $ctext;
        background-color: $bckp;
        margin-left: 15px;
        margin-right: 15px;
    }

/* GRIDS CONTACTO  */
.contactf{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "headerc"
    "contactofor"
    "footerc"
    ;
    gap: 20px;
}

.h1c{
    margin: 40px 40px 40px 40px;
}

.headerc{
    grid-area: headerc;
}

.contactofor{
    grid-area: contactofor;
}

.footerc{
    grid-area: footerc;
}



/* ESTILOS Y GRIDS MUSICA */

.musica{
    padding: 15px 15px 15px 15px;
    display:grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "titulomsc titulomsc"
    "p1msc p1msc"
    "videomsc1 p1vmsc"
    "videomsc2 p2vmsc"
    ;
    gap: 20px;
}

.titulomsc{
    grid-area: titulomsc;
    margin-top: 25px;
}

.p1msc{
    grid-area: p1msc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: initial;
    font-family: sans-serif;
    margin: 20px 0px 0px 0px;
    padding: 15px 15px 15px 15px;
    color: $ctext;
    font-size: x-large;
    text-align: center;
    background-color: $bckp;
    border-radius: 1cm;
}

.videomsc1{
    grid-area: videomsc1;
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 10px 10px;
}

.p1vmsc p{
    grid-area: p1vmsc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: initial;
    padding: 15px 15px 15px 15px;
    font-family: sans-serif;
    color: $ctext;
    font-size: x-large;
    background-color: $bckp;
    border-radius: 1cm;
}

.videomsc2{
    grid-area: videomsc2;
    padding: 15px 15px 15px 15px;
    margin: 10px 10px 10px 10px;
}

.p2vmsc p{
    grid-area: p2vmsc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: initial;
    padding: 15px 15px 15px 15px;
    font-family: sans-serif;
    color: $ctext;
    font-size: x-large;
    background-color: $bckp;
    border-radius: 1cm;
}
    /* GRIDS MEMES */

.galeria{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "headerm "
    "titulogm"
    "memes"
    "footerm"
    ;
    gap: 20px;
}

.memes{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "titulogm titulogm"
    "meme1 meme2"
    "meme3 meme4"
    "meme5 meme6"
    ;
    height: 1100px;
    gap: 0.2rem;
}


.headerm{
    grid-area: headerm;
}

.titulogm{
    grid-area: titulogm;
    margin-top: 25px;
}

.meme1{
    grid-area: meme1;
    transition: all 2s;
}

.meme2{
    grid-area: meme2;
    transition: all 2s;
}

.meme3{
    grid-area: meme3;
    transition: all 2s;
}

.meme4{
    grid-area: meme4;
    transition: all 2s;
}

.meme5{
    grid-area: meme5;
    transition: all 2s;
}
.meme6{
    grid-area: meme6;
    transition: all 2s;
}

.footerm{
    grid-area: footerm;
}

.meme1:hover{
    transform: scale(2);
}

.meme2:hover{
    transform: scale(2);
}

.meme3:hover{
    transform: scale(2);
}

.meme4:hover{
    transform: scale(2);
}

.meme5:hover{
    transform: scale(2);
}

.meme6:hover{
    transform: scale(2);
}
    

     /* MEDIA QUERIES */

     @media screen {
         .cuerpo{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-areas: 
            "headeri"
            "bienvenida"
            "videos"
            "footeri"
            ;
         }
         
     }


     /* MEDIA QUERIE MUSICA */

     @media screen {
        .musicbody{
            display: grid;
            grid-template-columns: 1fr;
            grid-area: 1fr 1fr 1fr;
            grid-template-areas: 
            "headermsc"
            "sectionmsc"
            "footermsc"
            ;
        }
     }

    /* MEDIA QUERIE DOBLAJE */
    @media screen {
        .grilla{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 
            "header"
            "doblajes"
            "footer"
            ;
         }
    }

    /* MEDIA QUERIE MEMES */
    @media screen {
        .galeria{
            grid-template-columns: auto;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas: 
            "headerm"
            "titulogm"
            "meme1 meme2"
            "meme3 meme4"
            "meme5 meme6"
            "footerm"
            ;
        }
    }
        
/* MEDIA QUERIE CONTACTO */

@media screen {
    .contactf{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        "headerc"
        "contactofor"
        "footerc"
        ;
    }
}