@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Maven+Pro & display=swap");
.li--instagram {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.89)), color-stop(rgba(248, 236, 69, 0.945)), color-stop(rgba(247, 14, 14, 0.904)), to(rgba(183, 55, 223, 0.87)));
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.89), rgba(248, 236, 69, 0.945), rgba(247, 14, 14, 0.904), rgba(183, 55, 223, 0.87));
}

.li--tiktok {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.89)), to(rgba(0, 0, 0, 0.726)));
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.89), rgba(0, 0, 0, 0.726));
}

.li--youtube {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.89)), to(rgba(255, 30, 0, 0.877)));
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.89), rgba(255, 30, 0, 0.877));
}

body {
  background-image: url("../img/playa.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

body header {
  top: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#f7990e), to(#fff));
  background-image: linear-gradient(to right, #f7990e, #fff);
}

body header .navbar .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: inherit;
      flex-wrap: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-aroundc;
      -ms-flex-pack: space-aroundc;
          justify-content: space-aroundc;
}

* {
  padding: 0;
  margin: 0;
}

ol, ul {
  padding-left: 0rem;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Maven Pro', sans-serif;
}

footer {
  padding: 10px 0px 10px 0px;
  margin-bottom: 0;
  margin-top: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#f7990e), to(#fff));
  background-image: linear-gradient(to right, #f7990e, #fff);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer h2 {
  color: #460980;
  padding-left: 10px;
  margin-bottom: 5px;
  margin-left: 10px;
  display: block;
  font-size: 1.5em;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0.83em;
          margin-block-end: 0.83em;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  font-weight: bold;
}

footer li {
  text-align: justify;
  padding-left: 10px;
  margin-top: 10px;
  height: 40px;
  border-bottom-right-radius: 100%;
  border-top-right-radius: 100%;
}

footer a {
  color: white;
  font-size: x-large;
  margin-bottom: 1cm;
  margin: 10px 0px 0px 0px;
}

figure .primera {
  text-align: center;
}

figure .perfil {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  border-radius: 1cm;
  margin: auto;
  width: 200px;
  height: 200px;
}

.bienvenida {
  margin: 20px 0px 0px 0px;
  padding: 15px 15px 15px 15px;
  font-family: 'Maven Pro', sans-serif;
  padding: 40px;
}

.bienvenida .parrafo {
  font-family: sans-serif;
  margin: 20px 0px 0px 0px;
  padding: 15px 15px 15px 15px;
  color: black;
  font-size: x-large;
  text-align: center;
  background-color: rgba(209, 209, 209, 0.4);
  border-radius: 1cm;
}

.videos {
  font-family: 'Maven Pro', sans-serif;
  padding: 40px;
}

.videos h2 {
  padding: 15px 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  text-align: start;
  background-color: rgba(214, 57, 57, 0.4);
  border-radius: 1cm;
  text-transform: uppercase;
}

.videos .video1 {
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
}

.videos .video2 {
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
}

.videos p {
  padding: 15px 15px 15px 15px;
  font-family: sans-serif;
  color: black;
  font-size: x-large;
  background-color: rgba(209, 209, 209, 0.4);
  border-radius: 1cm;
}

/* GRIDS INDEX */
.cuerpo {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "headeri headeri headeri headeri"
 "bienvenida bienvenida bienvenida bienvenida"
 "videos videos videos videos"
 "footeri footeri footeri footeri";
  gap: 20px;
}

.headeri {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: headeri;
}

.bienvenida {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: bienvenida;
}

.videos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: videos;
}

.footeri {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: footeri;
}

.videos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "titulo titulo"
 "video1 pv1"
 "video2 pv2";
}

.titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulo;
}

.video1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: video1;
}

.video2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: video2;
}

.pv1 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: pv1;
}

.pv2 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: pv2;
}

/* GALERIA DE MEMES */
.memesG, .meme1, .meme2, .meme3, .meme4, .meme5, .meme6 {
  width: 320px;
  height: 220px;
  padding-top: 15px;
  display: block;
  margin: auto;
}

/* IMAGENES DE SECCION DOBLAJE */
.fotosdbl, .castañeda, .humberto, .tatul {
  width: 520px;
  height: 300px;
  padding-top: 15px;
  display: block;
  margin: auto;
}

.castañeda, .humberto, .tatul {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: castañeda;
}

.humberto {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: humberto;
}

.tatul {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: tatul;
}

.fmc {
  text-align: center;
}

.fhv {
  text-align: center;
}

.fhs {
  text-align: center;
}

/*  GRIDS PAGINA DOBLAJES */
.grilla {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "header header header"
 "doblajes doblajes doblajes"
 "footer footer footer";
  gap: 0.2rem;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

.doblajes {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: doblajes;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.contenido {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "titulodbl titulodbl"
 "mario castañeda"
 "humberto homero"
 "hera tatul";
  gap: 20px;
  height: 1200px;
}

.titulodbl {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulodbl;
  margin-top: 25px;
}

.mario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: initial;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: mario;
}

.homero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: initial;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: homero;
}

.hera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: initial;
}

.pmc {
  font-style: sans-serif;
  font-size: x-large;
  border-radius: 1cm;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 15px 15px;
  color: black;
  background-color: rgba(209, 209, 209, 0.4);
  margin-left: 15px;
  margin-right: 15px;
}

.phv {
  font-style: sans-serif;
  font-size: x-large;
  border-radius: 1cm;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 15px 15px;
  color: black;
  background-color: rgba(209, 209, 209, 0.4);
  margin-left: 15px;
  margin-right: 15px;
}

.ptb {
  font-style: sans-serif;
  font-size: x-large;
  border-radius: 1cm;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 15px 15px 15px;
  color: black;
  background-color: rgba(209, 209, 209, 0.4);
  margin-left: 15px;
  margin-right: 15px;
}

/* GRIDS CONTACTO  */
.contactf {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "headerc"
 "contactofor"
 "footerc";
  gap: 20px;
}

.h1c {
  margin: 40px 40px 40px 40px;
}

.headerc {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: headerc;
}

.contactofor {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: contactofor;
}

.footerc {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footerc;
}

.forcontact {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "nombrec"
 "emailc"
 "mensajec";
}

.nombrec {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nombrec;
}

.mensajec {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: mensajec;
}

.emailc {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: emailc;
}

/* ESTILOS Y GRIDS MUSICA */
.musica {
  padding: 15px 15px 15px 15px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "titulomsc titulomsc"
 "p1msc p1msc"
 "videomsc1 p1vmsc"
 "videomsc2 p2vmsc";
  gap: 20px;
}

.titulomsc {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulomsc;
  margin-top: 25px;
}

.p1msc {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: p1msc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: initial;
  font-family: sans-serif;
  margin: 20px 0px 0px 0px;
  padding: 15px 15px 15px 15px;
  color: black;
  font-size: x-large;
  text-align: center;
  background-color: rgba(209, 209, 209, 0.4);
  border-radius: 1cm;
}

.videomsc1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: videomsc1;
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
}

.p1vmsc p {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: p1vmsc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: initial;
  padding: 15px 15px 15px 15px;
  font-family: sans-serif;
  color: black;
  font-size: x-large;
  background-color: rgba(209, 209, 209, 0.4);
  border-radius: 1cm;
}

.videomsc2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: videomsc2;
  padding: 15px 15px 15px 15px;
  margin: 10px 10px 10px 10px;
}

.p2vmsc p {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: p2vmsc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: initial;
  padding: 15px 15px 15px 15px;
  font-family: sans-serif;
  color: black;
  font-size: x-large;
  background-color: rgba(209, 209, 209, 0.4);
  border-radius: 1cm;
}

/* GRIDS MEMES */
.galeria {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-areas: "headerm "
 "titulogm"
 "memes"
 "footerm";
  gap: 20px;
}

.memes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
      grid-template-areas: "titulogm titulogm"
 "meme1 meme2"
 "meme3 meme4"
 "meme5 meme6";
  height: 1100px;
  gap: 0.2rem;
}

.headerm {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: headerm;
}

.titulogm {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: titulogm;
  margin-top: 25px;
}

.meme1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: meme1;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.meme2 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: meme2;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.meme3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: meme3;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.meme4 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: meme4;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.meme5 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: meme5;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.meme6 {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: meme6;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.footerm {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footerm;
}

.meme1:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.meme2:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.meme3:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.meme4:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.meme5:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.meme6:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
}
/*# sourceMappingURL=style.css.map */

  /* MEDIA QUERIES */

  @media screen {
    .cuerpo{
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr 1fr 1fr;
       grid-template-areas: 
       "headeri"
       "bienvenida"
       "videos"
       "footeri"
       ;
    }
    
}

@media (max-width:500px) {
  .videos{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "titulo"
    "video1"
    "pv1"
    "video2" 
    "pv2"
    ;
}
.cuerpo{
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "headeri"
  "bienvenida"
  "videos"
  "footeri"
  ;
  gap: 20px;
}
body{
  background-color: #526392;
  background-image: none;
}
}

@media (max-width:996px) {
  .videos{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    justify-content: center;
    align-items: center;
    grid-template-areas: 
    "titulo"
    "video1"
    "pv1"
    "video2" 
    "pv2"
    ;
}
.cuerpo{
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "headeri"
  "bienvenida"
  "videos"
  "footeri"
  ;
  gap: 20px;
}
}


/* MEDIA QUERIE MUSICA */

@media screen {
   .musicbody{
       display: grid;
       grid-template-columns: 1fr;
       grid-area: 1fr 1fr 1fr;
       grid-template-areas: 
       "headermsc"
       "sectionmsc"
       "footermsc"
       ;
   }
}

@media (max-width:500px){
  .musica{
    padding: 15px 15px 15px 15px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "titulomsc"
    "p1msc"
    "videomsc1" 
    "p1vmsc"
    "videomsc2" 
    "p2vmsc"
    ;
    gap: 20px;
}
}

@media (max-width:996px){
  .musica{
    padding: 15px 15px 15px 15px;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 
    "titulomsc"
    "p1msc"
    "videomsc1" 
    "p1vmsc"
    "videomsc2" 
    "p2vmsc"
    ;
    gap: 20px;
}
}
  

/* MEDIA QUERIE DOBLAJE */
@media screen {
   .grilla{
       grid-template-columns: 1fr;
       grid-template-rows: 1fr 1fr 1fr;
       grid-template-areas: 
       "header"
       "doblajes"
       "footer"
       ;
    }
}

@media (max-width:500px){
  .contenido{
    height: 400vh;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "titulodbl"
    "castañeda"
    "mario"
    "humberto" 
    "homero"
    "tatul"
    "hera" 
    ;
    gap: 20px;
}
}

@media (max-width:996px){
  .contenido{
    height: 400vh;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "titulodbl"
    "castañeda"
    "mario"
    "humberto" 
    "homero"
    "tatul"
    "hera" 
    ;
    gap: 20px;
}
}


/* MEDIA QUERIE MEMES */
@media screen {
   .galeria{
       grid-template-columns: auto;
       grid-template-rows: auto auto auto;
       grid-template-areas: 
       "headerm"
       "memes"
       "footerm"
       ;
   }
}
   
@media (max-width:500px){
  .memes{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: 
    "titulogm"
    "meme1" 
    "meme2"
    "meme3" 
    "meme4"
    "meme5" 
    "meme6"
    ;
    height: 300vh;
    gap: 0.2rem;
}
}

@media (max-width:996px){
  .memes{
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-areas: 
    "titulogm"
    "meme1" 
    "meme2"
    "meme3" 
    "meme4"
    "meme5" 
    "meme6"
    ;
    height: 300vh;
    gap: 0.2rem;
}
}
/* MEDIA QUERIE CONTACTO */

@media screen {
.contactf{
   grid-template-columns: auto;
   grid-template-rows: auto auto auto;
   grid-template-areas: 
   "headerc"
   "contactofor"
   "footerc"
   ;
}
}

